*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  font-family: batman;
  src: url(/fonts/batmfa_.ttf);
}

header {
  position: absolute;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  backdrop-filter: 3px;

  & img {
    cursor: pointer;
  }

}

/* Barra de scroll 
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(68, 68, 68);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: #634092;
}
  */

/* Selección 
::selection {
  background-color: #64409285;
}
::-moz-selection {
  background-color: #64409285;
}
  */

/* .video-fondo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dxwfpc5fu/image/upload/f_auto,q_auto/v1/HOME%20IMAGES/robot-FA-05-r-min_d43xwa);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 20rem;

  & h1 {
    z-index: 1;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    letter-spacing: .2rem;
    text-shadow: 10px 10px 10px #00000046;
    font-weight: bold;
    font-style: italic;
    background-color: #634092;
    border: 2px solid #0c0c0c;
    transform: rotate(-10deg) translateY(-140px);

    &:nth-child(3) {
      transform: rotate(10deg) translate(-30px, -130px);
      margin-top: 11rem;
      color: #fff;
      background-color: #2c2c2c;
      text-shadow: 10px 10px 10px #5c5c5c46;
    }
  }

  & /* From Uiverse.io by csemszepp */ 
  .container {
    z-index: -1;
    width: 100%;
    height: 100%;
    --s: 84px;
    --c1: #3333339d;
    --c2: #000000;
    --c3: #634092;
  
    --_g: 0 120deg, #0000 0;
    background: conic-gradient(
        from 0deg at calc(500% / 6) calc(100% / 3),
        var(--c3) var(--_g)
      ),
      conic-gradient(
        from -120deg at calc(100% / 6) calc(100% / 3),
        var(--c2) var(--_g)
      ),
      conic-gradient(
        from 120deg at calc(100% / 3) calc(500% / 6),
        var(--c1) var(--_g)
      ),
      conic-gradient(
        from 120deg at calc(200% / 3) calc(500% / 6),
        var(--c1) var(--_g)
      ),
      conic-gradient(
        from -180deg at calc(100% / 3) 50%,
        var(--c2) 60deg,
        var(--c1) var(--_g)
      ),
      conic-gradient(
        from 60deg at calc(200% / 3) 50%,
        var(--c1) 60deg,
        var(--c3) var(--_g)
      ),
      conic-gradient(
        from -60deg at 50% calc(100% / 3),
        var(--c1) 120deg,
        var(--c2) 0 240deg,
        var(--c3) 0
      );
      background-size: calc(var(--s) * 2.732) var(--s);
  }

  & button {
    position: absolute;
    right: 20px;
    bottom: 40px;
    padding: 10px 60px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: 2px solid #ffff;
    background-color: transparent;
    backdrop-filter: blur(5px);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
  
}

#navegation {
  z-index: 2;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
}
#btn-open-filters{
  position: relative;
  right: 0;
  height: auto;
  width: 25px;
  cursor: pointer;

   &:hover {
    opacity: 0.5;
  } 
}
.bg-navegation {
  z-index: 2;
  background-color: #000000dc;
  backdrop-filter: blur(40px);
}
.filter-all {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7); */
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}


/* #items-nav {

}  */
.display-block {
  display: block;
}
.hidden-items {
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 20px;
  display: none;
}
.show-items {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;

}
#navegation li {
  list-style: none;
  padding: 5px;

  &  a:hover {
    opacity: 0.6;
  }
}

#navegation li a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7rem;
  color: #000;
  text-transform: uppercase;

}

/* Logo TECNIMUX */
.container-imagotipo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;

  & img {
    height: auto;
    width: 22px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: .2rem .3rem;
  }
}


/* Galeria */
#tech-s {
  background-color: #0c0c0c;
}
.container-img {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 4rem 10rem;

}
.image {
  position: relative;
  background-color: rgba(27, 27, 27, 0.4);
  backdrop-filter: blur(5px);
  flex: 1 1 20%;
  height: 400px;
  width: 500px;
  padding: 0 40px;
  overflow: hidden;
  transition: 0.3s ease-in;
}
.image:hover {
background-color: rgb(255, 255, 255, 0.3);
}

.tx-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}
.tx-item.animation {
  animation: moveDown 1s ease-in-out forwards;
}
@keyframes moveDown {
  from {
    transform: translate(-5%, -5%);
    opacity: 0;
  } 
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#TX-bgs {
background-color: #000;
}

.modal-prev-images {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 200px 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);

  & img {
height: auto;
width: 90%;
transition: 0.5s ease;
  }
  & img:hover {
    transform: scale(1.7);
    cursor: crosshair;
}
}

.contenido-modal {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500px;
}

.close-modal-item {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal-item:hover,
.close-modal-item:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.overflow-hidden {
  overflow-y: hidden;
}

 @media screen and (max-width: 1000px) {
  
  /* .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 3rem 0;
    
    & img {
      height: 40%;
      width: 40%;
      cursor: pointer;
      transition: transform 0.2s;
    }

  } */
   .container-img {
    padding: 1rem;
   }

   .image {
    flex: 1 1 30%;
    padding: 0;
    height: 200px;
   }
} 
