*,::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "L";
  src: url(/fonts/LibreBarcode39Text-Regular.ttf);
}

@font-face {
  font-family: "B";
  src: url(/fonts/batmfa_.ttf);
}
@font-face {
  font-family: "P";
  src: url(/fonts/02/Acmatic-Personal.otf);
}

a {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #464646, #3c3c3c, #333333, #2a2a2a, #212121, #1e1e1e, #1b1b1b, #181818, #191919, #1a1a1a, #1b1b1b, #1c1c1c);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: rgb(0, 255, 76);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #0c0c0c;
  height: 50px;
  width: 100%;
}

/* Barra de scroll */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(68, 68, 68);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: #634092;
}
/* Selección */
::selection {
  background-color: #64409285;
}
::-moz-selection {
  background-color: #64409285;
}
.Products-PC {
  margin-top: 150px;
}

h3 {
  color: #634092;
}

#cart {
  position: relative;
  background-color: transparent;
  filter: blur(0.1px);

  & img {
    position: absolute;
    height: auto;
    width: 45px;
    top: 15px;
    left: 5px;
  }
}
#sec-01 {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-image: linear-gradient(to bottom, #0d0d0d, #151515, #1b1b1b, #212121, #272727);
  color: #000;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  gap: 10px;
  grid-auto-rows: 20rem;
  grid-auto-flow: dense;
  justify-content: center;
  margin: 50px;
}
.componentes {
  /* height: 300px; */
  display: grid;
  /* width: 320px;  */
  background-color: rgb(228, 228, 228);
  padding: 0 10px 10px 10px;
  grid-column: span 1;
  justify-items: center;
  align-items: center;
  padding: 0 20px;
  transition: 0.1s ease;
}
.componentes:hover, :focus {
  background-color: #18181859;
}
.componentes img {
  max-width: 200px;
  height: auto;
}
.type-sect {
  background-color: red;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 0.1px solid #00000010;
}
.type-sect h6 {
  display: inline-block;
  display: grid;
  justify-items: flex-end;
  align-items: flex-end;
  text-align: end;
  padding: 7px 10px;
}
.type-sect:hover {
  background-color: #222222;
  color: #fff;
}
.name-item h3 {
  font-family: "Work Sans";
  color: #000;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 10px;
  font-weight: 100;
}
.name-item span {
  color: rgb(26, 26, 26);
  font-size: 1.5rem;
  font-weight: 500;
}

#Sec-02 {
  width: 100%;
}

.title {
  z-index: 1;
  display: inline-flex;

  & h1 {
    font-family: "L";
    font-size: 2rem;
    font-weight: 100;
    margin-top: 10px ;
  }
}

/* Logo Tecnimux */
.logo-Tx {

  & img {
  height: auto;
  width: 18px;
  max-width: 18px;
  }
}

#welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(to left, #0d0d0d, #101010, #131313, #161616, #181818);
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  flex: 1;
  padding: 65px;
}
/* Updates */
.updates {
  height: auto;
  width: 100px;

  & p {
    font-weight: lighter;
    font-size: 1rem;
  }

  & span {
    color: red;
    font-weight: bold;
  }
}


/* Tarjeta de credito */
.credit-card {
  display: flex;
  justify-items: center;
  align-items: center;
}
.credit-card img {
  width: 150px;
  height: auto;
  animation: rotar 10s linear infinite both;
  box-shadow: 10px 0 .2rem #8d8d8d05,
  0 0 6rem red;
  border-radius: 5px;
  filter: drop-shadow(0 50px .1rem rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(20px);

}
@keyframes rotar {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}



#sec-01 h1 {
  font-size: 3rem;
  position: sticky;
  position: -webkit-sticky;
  margin-top: 110px;
  top: 50px;
  right: 50px;
  text-align: end;
}

.desktop-p {
  color: black;
  text-align: center;
  margin: 10px;
}
#Sec-02 h1 {
  font-size: 3rem;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  right: 50px;
  text-align: end;
}

.options {
  width: auto;
  text-align: center;
  padding: 40px 10px;
  background-color: #0a0a0a;

  & a {
    text-decoration: none;
  }
  & h2 {
    display: inline-flex;
    color: #fff;
    font-size: 4rem;
    font-weight: bolder;
    transform: rotate(-10deg);
    text-shadow: 0 0 .2rem #000;
  }
}
.option {
  background-color: rgba(128, 0, 0, 0.685);
  backdrop-filter: blur(25px);
  padding: 2rem;
  border-radius: 15px;
}

.PC {
  max-width: 120px;
  height: auto;
}
.PC a {
  text-decoration: none;
  color: #000;
  
}
.Laptop {
  width: 120px;
  height: auto;
}

#compont {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0px 1rem #ffffff73;
  margin-top: 2rem;
  padding: 10px;

  & img {
    height: auto;
    width: 65px;
    max-width: 65px;
    background-color: rgb(99, 64, 146);
    opacity: 0.9;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    box-shadow:inset 0 0 .2rem #000;
  }:hover {
    opacity: 1;
  }

  & a {
    z-index: 5;
    list-style:  none;
  }
}
@media screen and (max-width: 548px){
  .compont {
    cursor: grab;
  } 
}
.compont::-webkit-scrollbar {
  width: 0;
}
.compont li {
  list-style: none;
}

/* Color 2 Word
.CPU  span{
 color: #f0a300; 
}
*/

/* footer {
  position: fixed;
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 15px;
  font-family: Batman;
  color: #fff;
  background-color: #2b2a2a;
  width: 100%;
  font-size: 2rem;
  height: 80px;
} */
