* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Batman';
    src: url(/fonts/batmfa_.ttf);
}
@font-face{
  font-family: 'Two';
  src: url(/fonts/Neospace-Expanded.ttf);
}
body {
  background-color: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  color: #000;
  background-color: greenyellow;
}
header img{
  max-width: 2rem;
}
header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: 2.5rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.labs-icon img{
    max-width: 4rem;
}
#sect-01 {
  height: calc( 90vh - 70px );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(15, 15, 15); */
  background: linear-gradient(#000, rgb(5, 5, 5));
}
.text-home {
  height: 70px;
  padding: 10px;
  width: 100%;
  background-color: #0c0c0c;
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}
.items h1{
  font-weight: 100;
}
.items img {
  max-width: 20rem;
  animation: 3s ease-in-out;
}
.items img:hover {
  background-color: rgba(24, 24, 24, 0.7);

}

.testing {
  display: flex;
  text-align: center;
  margin: 5rem;
}
.testing img {
  max-width: 5rem;
}