*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right top, #000000, #040404, #090909, #0d0d0d, #101010, #131418, #13181e, #101c25, #00252c, #002d29, #003319, #253600);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 3rem;
  color: #000;
  background-color: transparent;

  & img {
    width: 25px;
    padding: .2rem;
    border: 1px solid #ffffff36;
    border-radius: 5px;
  }
}

header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#sect-01 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.warning {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;

  & p {
    color: #9c9c9c;
  }
}

.container-experiments {
  position: relative;
  width: 580px;
  min-width: 300px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 14px;

  & h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    width: 100%;
    font-size: 1.5rem;
  }
}

.slider {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: auto;
  padding: 1rem;
}

.items {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 240px;
width: 240px;
box-shadow: inset 0 0 15px #bdbdbd56;
background-color: rgba(255, 255, 255, 0.014);
backdrop-filter: blur(10px);
padding: 5px;
border-radius: 15px;
background-size: 110% 110%;
transition: .5s ease-in-out;

  & h4 {
  text-align: center;
  font-weight: 100;
  box-shadow: 0 -.5px 0 #fff;
  font-size: .9rem;
  padding: 10px;
  color: #cecece;
  }

    & img {
    height: auto;
    width: 150px;
    animation: 3s ease-in-out;
  }
  
  &:hover {
    background-position: 20% 150%;
    }
}


.testing {
  display: flex;
  text-align: center;
  margin: 5rem;
}

.testing h1{
  font-weight: 100;
}

.testing img {
  max-width: 5rem;
}

@media screen and (max-width: 1000px) {
.slider {
  padding-left: 15rem;
  
}
}