*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right top, #000000, #040404, #090909, #0d0d0d, #101010, #131418, #13181e, #101c25, #00252c, #002d29, #003319, #253600);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  color: #000;
  background-color: rgb(173, 255, 47, .4);
  backdrop-filter: blur(40px);

  & p {
    color: #fff;
    padding-right: 1rem;
  }
}
header img{
  height: auto;
  width: .7rem;
}
header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.logo-TECNIMUX {
  margin-left: 4px;
}
.logo-TECNIMUX img{
  height:auto;
  width: 20px;
}
#sect-01 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.warning {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;

  & p {
    color: #9c9c9c;
  }
}
.container-experiments {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 14px;
  background-image: linear-gradient(to left bottom, #1d1d1d, #191919, #151515, #101010, #0a0a0a, #070707, #030303, #000000, #000000, #000000, #000000, #000000);

  & h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    font-size: 1.5rem;

  }
}
.slider {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: auto;
  padding: 1rem;
}

.items {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 240px;
width: 240px;
background-image: linear-gradient(to top, #090909, #0b0b0b, #0d0d0d, #0e0e0e, #101010, #16181e, #16202c, #0c2939, #003e4d, #00544b, #006633, #507400);
padding: 5px;
border-radius: 15px;
background-size: 110% 110%;
transition: .5s ease-in-out;

  & h4 {
  text-align: center;
  font-weight: 100;
  box-shadow: 0 -.5px 0 #fff;
  font-size: .9rem;
  padding: 10px;
  color: #cecece;
  }

    & img {
    height: auto;
    width: 150px;
    animation: 3s ease-in-out;
  }
  
  &:hover {
    background-position: 20% 150%;
    }
}


.testing {
  display: flex;
  text-align: center;
  margin: 5rem;
}
.testing h1{
  font-weight: 100;
}
.testing img {
  max-width: 5rem;
}
@media screen and (max-width: 1000px) {
.slider {
  padding-left: 15rem;
  
}
}