* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 4000px;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem 0 3rem 0;

    & h1 {
        font-size: 3.5rem;
        color: #fff;
        text-align: center;
    }

    & p {
        color: gray;
    }
}
::-webkit-scrollbar {
    z-index: 10;
    position: absolute;
    height: 5px;
    margin-top: 40px;
    background-color: rgba(172, 172, 172, 0.226);
}

::-webkit-scrollbar-thumb {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 10px;
    cursor: grab;
}

#projects {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0 1rem;
  background-color: var(--bg-color);
  color: #aaaaaa;

  & nav {
    position: relative;
    max-width: 1100px;
    padding: 0 1rem;
    overflow-y: hidden;
    overflow-x: hidden;

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem 3rem 2rem 3rem;
            overflow-y: hidden;
            overflow-x: auto;
            gap: 20px;
            list-style: none;

            & li {
                padding-top: 2rem;

                & button {
                    display: block;
                    height: 70px;
                    width: 70px;
                    border-radius: 100%;
                    border: 1px solid rgb(255, 255, 255);
                    background-color: rgba(22, 22, 22, 0.507);
                    cursor: pointer;
                    
                    & svg {
                        height: auto;
                        width: 40px;
                        stroke: #000000;
                        fill: #fff;
                    }

                    & p {
                        position: absolute;
                        font-size: 1.2rem;
                        color: #fff;
                        font-weight: 800;
                        top: 5px;
                        padding: 1rem;
                        /* border: 1px solid #fff;
                        border-radius: 10px; */
                        background-color: transparent;
            
                        text-align: center;
                        opacity: 0;

                    }
                }

                &:hover  p{
                    opacity: 1;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.507);
                }
            }
        }
    }

  & .project {
    position: relative;
    height: auto;
    width: auto;
    backdrop-filter: blur(5px);
    transition: all 0.5s;
    padding: 1rem;

    & h3 {
      position: relative;
      height: 100%;
      width: 100%;
      font-size: 2rem;
      font-weight: lighter;
      text-align: start;
    }

    & p {
      opacity: .6;
    }

    & img {
      height: auto;
      width: 60%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    & .description-project {
      width: 60%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    & .open-project {
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
      width: 25px;
      transform: rotate(90deg);
      transition: 0.3s ease;
      stroke-width: 1px;
      stroke: var(--white);
      fill: var(--white);
      display: none;
    }

    & .tecnologias {
      z-index: 1;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: end;
      flex-wrap: wrap;


      & svg {
        display: block;
        height: 35px;
        width: 35px;
        padding: .6rem;
      }

      & .more {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2rem;
        border: 1px solid rgba(97, 97, 97, 0.24);
        border-radius: 10px;
        background-color: rgba(24, 24, 24, 0.253);

        & svg {
            padding: .4rem;
            border-radius: 10px;

        &:hover {
            opacity: .4;
            background-color: #634095;
        }
        }

      }
    }

    & .about-project {
      position: relative;
      padding: 1rem;
      background-color: rgba(8, 8, 8, 0.473);
    }

    .project:hover  .open-project{
      display: block;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      padding: 0 0 6rem 0;
    }
  }
}

.container-projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px;

  & h2 {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}