:root {
--primary: #634092;
--second: #ff519f;
--black: #000;
--white: #fff;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    max-width: 1900px;
    margin: 0 auto !important;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #141414; */
    color: var(--white);
    overflow-x: hidden;
    padding-top: 100px;
}
@font-face {
    font-family: Pixel;
    src: url(/fonts/Pixelmax-vnR7A.otf);
}

li {
    color: var(--black);
}

a {
    text-decoration: none;
    display: block;
    color: var(--black);
}

.landing-video {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white);
    /* backdrop-filter: blur(30px); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.062);
    /* border-radius: 8px; */
    margin: 0 auto;
    padding: 20px 30px 15px 30px;
    transition: opacity 0.3s ease, transform 0.3s ease;


    & ul {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
        list-style: none;

        & li {
            padding: 10px;
            color: var(--black);
            border-radius: 5px;
            font-weight: bold; 
            cursor: pointer;
            opacity: .8;

            &:hover {
                background-color: #adadad11; 
                outline: 1px solid var(--black);
                opacity: 1;
              }
        }
    }

#pro {
    position: relative;
    background-color: transparent;
    color: var(#333);
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    /* margin: 10px 30px; */
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(37, 37, 37, 0.616);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: #000000ec;
    color: var(--white);
    /* border: 1.5px solid var(--second); */

  
  &::before {
    content: "Vamos!";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* background: linear-gradient(135deg,#dc2443, #ff519f ); */
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
  
  &::after {
    content: "Agendar";
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #333; */
    background-color: transparent;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  &:hover::before {
    transform: translate(0%,0%);
  }
  
  &:hover::after {
    transform: translate(0%,-200%);
  }
  
  &:focus {
    outline: none;
  }
  
  &.active {
    scale: 0.95;
  }

  &:hover {
    border: 1.5px solid #000;
    background-color: var(--second);
  }
    }

    #home {
        z-index: 21;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: .5rem;
        top: 0;
        right: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        & a {
            text-decoration: none;
            color: var(--black);
        }

        & h2 {

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            font-size: 2rem;

            & span {
                font-family: Pixel;
                font-size: .8rem;
            }
        }

        & button {
        border: none;
        background-color: transparent;

        }

        & img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid var(--black);

            display: block;
            background-color: transparent;
        }
    }

}

/* Button menu */
/* From Uiverse.io by Cevorob */ 
#menu-main {
    position: relative;
}

#burger {
    display: none;
    border: 2px solid var(--white);
    padding: .5rem;
    border-radius: 10px;
    top: 30px;
    right: 30px;
}
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }



@keyframes ss {
    from {
        transform: translateY(0);
        opacity: 0;
    } to {
        transform: translateY(50);
        opacity: 1;
    }
}
@keyframes sss {
    to {

    }
}

.header-hidden {
    transform: translateY(-100%);
    opacity: 0;
    /* transition: all .5s ease; */
    pointer-events: none;
}

/* .center-preview {
    position: fixed;
    top: 50%;
    left: 50%;
} */


#landing-page {

    & h1 {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: fantasy;
        text-align: center;
        color: var(--white);
        text-shadow: 0 0 5px var(--black);
        padding: 2rem 0;

        & span {
            color: var(--second);
            text-shadow: 0 0 0 transparent;
        }
    }
}

.landing {
    position: relative;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 2.5rem auto;
    padding: 30px;
    background-image: url(/img/Landing-v02/DiseñoCalidad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    & h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3rem;
        font-weight: 700;
    }
    
    & h3 {
        font-size: 3rem;
        font-weight: 700;
    }
}

#somos-tx {
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(14, 14, 14, 0.253);
    backdrop-filter: blur(18px);
    border: 1px solid rgb(185, 185, 185);
    padding: 50px;
    /* border-radius: 16px; */
    margin: auto;
    display: none;

    & h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 4rem;
        color: var(--white);
    }
     
    & p {
        font-size: 1.5rem;
        color: var(--white);

        & span {
            color: var(--second);
            text-shadow: 0 0 3px var(--black);
        }
    }

    & .content-our {
        max-height: 60%;
        max-width: 40%;
    }
    
    & #btn-go-works {
        position: relative;
        border: 1px solid var(--black);
        border-radius: 8px;
        padding: 1rem;
        background-color: var(--second);

        &:hover::after {
            content: "Ver";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            font-weight: bold;
            background-color: var(--second);
        }

    }

    & #btn-close-somostx {
        z-index: 20;
        position: absolute;
        top: 5%;
        right: 10%;
        height: 45px;
        width: 45px;
        background-color: rgba(14, 14, 14, 0.253);
        backdrop-filter: blur(18px);
        border: 1px solid rgb(185, 185, 185);
        border-radius: 50%;
    }
}

.container-hecho {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    padding: 1rem 2rem;

    & ul {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 5px;

        & li {
            color: var(--white);
            backdrop-filter: blur(5px);
            padding: 5px 10px;
            transition: background 0.3s, border-color 0.3s;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                color: var(--second);
                text-shadow: 0 0 10px var(--black);
              }
        }
    }
}

.hecho {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    /* border: 1px solid rgba(156, 156, 156, 0.212); */
    /* border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px); */
    /* margin: 15px; */
    padding: 10px;
    /* background-color: var(--black); */
}

    .preview {
        z-index: 40;

        & img {
            z-index: 40;
            position: relative;
            height: auto;
            width: 100%;
            object-fit: cover;
        }

        & video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:hover img {
            transform: scale(.9);
            transition: .3s ease;
        }

        &:hover video {
            transform: translate(-50%, -50%) scale(.9);
            transition: .3s ease;
        }
    }
    
    .preview {
        z-index: 2;
        position: relative;
        height: 280px;
        width: 280px;
        background-color: var(--second);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }

    #bg-dark-g {
        z-index: 30;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #0000007c;
        backdrop-filter: blur(8px);
        display: none;
    }

    .preview .center-preview {
        z-index: 50;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .center-preview {
        z-index: 50;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
    }

#sites {
    position: relative;
    min-height: 80vh;
    max-width: 63%;
    margin: 3rem auto;
    padding: 4rem 0;

    & h2 {
        color: var(--white);
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0;
    } 
}

#sec {
    max-width: 60%;
    margin: 0 auto;

    & h2 {
        font-size: 2.5rem;
        color: var(--white);
        text-align: center;
        padding: 1rem;
    }


    & .slider {
        height: auto;
        width: 65vw;
        max-width: 90%;
        margin: auto;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.048);
        backdrop-filter: blur(10px);
        border-radius: 50px;

        & .slide-track {
            display: flex;
            gap: 10px;
            animation: scroll-auto 40s linear infinite;
            -webkit-animation: scroll-auto 40s linear infinite;
            width: calc(170px * 14);
            padding: 2rem;

            & .slide {
                width: 170px;

                & img {
                    width: 100%;
                    filter: contrast(.3);
                }
            }
        }

        &:hover .slide-track {
            animation-play-state: paused;
        }
    }
}

@keyframes scroll-auto {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 7));
        -webkit-transform: translateX(calc(-200px * 7));
    }
}

#avatar {
    z-index: 1;

    & img {
        position: absolute;
        top: 50%;
        left: -20%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 650px;
        filter: drop-shadow(0 0 10px rgb(0, 0, 0));
        opacity: .3;
        }
}

footer {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 50vh;
    max-width: 60%;
    color: var(--white);
    font-size: .8rem;
    font-weight: 400;
    margin: 300px auto 0 auto;

    & p {
        opacity: .6;
        text-shadow: 0 0 15px var(--black);
    }

    & h3 {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.384);
        padding: 1rem 0;
        text-shadow: 0 0 10px var(--black);
    }

    & .by {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 1rem;

        & img {
            display: block;
            height: 18px;
            width: 18px;
        }
    }

    & .social {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;

        & .container-nets {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            & .net {
                cursor: pointer;
            }
        }
    }
}

#back-to-top {
    display: none;
    z-index: 20;
    position: fixed;
    right: 30px;
    bottom: 120px;
    background-color: var(--second);
    border-radius: 6px;
    border: 1px solid rgb(22, 22, 22);
    cursor: pointer;
  
    & svg {
      transition: all .2s linear;
      margin: 10px;
    }
  
    &:hover {
      opacity: .5;
  
    }
  
    &:hover svg {
      transform: translateY(-5px);
      
    }
  }

@media screen and (max-width: 750px ) {
    header {
        flex-direction: row;

        & #home {

            & h2 {
                font-size: 1rem;
            }

            & img {
                height: 30px;
                width: 30px;
            }
        }

        & ul {
            flex-direction: column;
        }

        & #pro {
            height: 40px;
            width: 140px;
            display: none;
        }

        & #menu-main {
            display: none
        }

        & .burger{
            display: block;
        }
    }

    .landing {
        height: 20vh;
    }

    .container-hecho {
        max-width: 100%;

        & .preview {
            height: 120px;
            width: 120px;
        }
    }

    #avatar-2 {
        z-index: -1;
    
        & img {
            max-width: 550px;
            }
    }

    #sites {
        position: relative;
        min-height: 50vh;
        max-width: 90%;
        margin: 3rem auto;
        padding: 4rem 0;
    }

    #somos-tx {

        & .content-our {
            max-height: 60%;
            max-width: 95%;
        }

    }

}


@media screen and (max-width: 750px ) {
#somos-tx {

    & p {
        font-size: 1rem;
    }

    & .content-our {
        max-height: 60%;
        max-width: 95%;
    }

}

}

