:root p, h1, h2, h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #196000, #005430, #004645, #003546, #092434, #141e2a, #17181f, #141414, #161616, #171717, #191919, #1a1a1a);
  background-attachment: fixed;
  font-family: "F";
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30, .7);
  padding: 0 20px;

  & h3 {
    font-weight: 100;
  }
}

#logo-TECNIMUX {

    & img {
      height: auto;
      width: 12px;
    }
  }


  .container-list-apps {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #00000075;
    backdrop-filter: blur(40px);
    margin: 1rem auto;

    & h2 {
      padding: .4rem 0;
    }


    & ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;

      & li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.041);
        margin-bottom: 1px;

        & a {
          text-decoration: none;
        }

        &:hover .app {
          opacity: .7;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.096);
        }
      }
    }

    & .app {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: .2rem .6rem;

      & p {
        font-size: 1.2rem;
        color: #e7e7e7;
        font-weight: 100;
      }

      & img {
        height: auto;
        width: 20px;
      }
    }

    & .action-app {
      position: relative;
      min-width: 45px;
      padding: .2rem .4rem;

      & .details {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 200px;
        transform: translateY(-50%);
        padding: .2rem;
        background-color: rgba(255, 255, 255, 0.733);
        backdrop-filter: blur(20px);
        border-radius: 5px;
        font-size: .8rem;
        display: none;

        & p {
          color: #000;
          font-weight: 500;
          text-align: center;
          margin: 0;
        }
      }

      & svg:first-child:hover + .details {
        display: block;
      }

      & a:hover {
        opacity: .6;
      }
    }

    @media  screen and (max-width: 768px) {
      width: 90%;

      & .action-app {
        min-width: 65wpx;
      }
    }
  }
  
  .container-pass {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }

.clv {
  opacity: 0;
}

.btn {
  position: absolute;
  top: 0;
  right: -150px;
  transform: translate(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  width: 200px;
  height: 60px;
}

.btn::before {
  position: absolute;
  font-weight: 200;
  content: "CLAVE 🔒";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  background-color: transparent;
  color: #ffff;
  transition: 0.5s ease;
}

.btn::after {
  position: absolute;
  content: "COPIAR";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  background-color: transparent;
  color: #634092;
  font-weight: 200;
  transition: 0.5s ease;
  opacity: 0;
}

.btn:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}