:root p, h1, h2, h3{
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* background-image: url(/BACKGROUND-PAGES/BRUTAL.png); */
  background-color: #000;
  background-repeat: none;
  background-size: cover;
  position: center;
  background-attachment: fixed;
  font-family: "F";
  color: #fff;
}
a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'batman';
  src: url(/fonts/batmfa_.ttf);
}

@font-face {
  font-family: 'F';
  src: url(/fonts/FontsFree-Net-n1.ttf);
}
@font-face {
  font-family: 'N';
  src: url(/fonts/FontsFree-Net-n1.ttf);
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgb(30, 30, 30, 0.5);
  filter: drop-shadow(0 0 0.5rem #000);
  color: #fff;
  margin: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-TECNIMUX {
  display: inline-flex;
  z-index: 10;
  margin: 0;
  left: 0;
  padding: 20px 30px;
}
.lg img {
  height: 4rem;
  width:auto ;
}
.lg {
  z-index: 8;
  margin-left: 4px;
  user-select: none;
  -webkit-user-drag: none;
}

#sec-01 {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1.5rem;
  font-family: 'N';
  font-weight: 100;
  color: goldenrod;
}
.clv {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
}
.btn {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  width: 500px;
  height: 50px;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  font-weight: 200;
  content: "🔒 COPIAR";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  background-color: #634092;
  padding: 15px;
  border-radius: 2px;
  color: #ffff;
  letter-spacing: 0.2rem;

  transition: 0.5s ease;
}

.btn::after {
  position: absolute;
  content: "TECNIMUX";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  background-color: #fff;
  padding: 15px;
  color: #000;
  letter-spacing: 0.3rem;
  font-weight: 200;
  transition: 0.5s ease;
  opacity: 0;
}
.btn:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}
.btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

#apps {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 100vh;
  width: 100%;
}
.container-apps {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: #634092;
  justify-content: center;
  gap: 2px;
  padding: 40px;
}
.app-content {
display: flex;
width: 400px;
height: 400px;
background-color: rgb(37, 37, 37);
border: 1px solid #ffffff18;
/* background-image: url(/icons/AutoCad.svg); */
backdrop-filter: blur(20px);
text-align: center;
align-items: center;
justify-content: center;
animation: changeColor  0.5s  ease-in-out;
transition: 0.3s ease-in-out;
}
@keyframes changeColor {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100%{
    background-color: rgb(37, 37, 37);
  }
}
.app-content:hover {
  box-shadow: inset 0 0 100rem rgba(255, 255, 255, 0.25);
}
.app-content img{
  width: 100px;
  padding: 20px;
  }
  .info-app {
    display: inline-block;
  }
.link-01 {
  display: inline-flex;
  margin: 20px;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  background-color: rgb(0, 132, 255);
}
/* .link-01::before {
  content: '';
  background-color: rgb(0, 132, 255);
  width: 50px;
}
.link-01::after {
  content: '';
  background-color: rgb(255, 255, 255);
  width: 100px;
} */


footer {
  position: fixed;
  color: #fff;
  background-color: #333;
  background-color: transparent;
  font-family: "batman";
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
}
