:root p, h1, h2, h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #196000, #005430, #004645, #003546, #092434, #141e2a, #17181f, #141414, #161616, #171717, #191919, #1a1a1a);
  background-attachment: fixed;
  font-family: "F";
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30, .7);
  padding: 0 20px;

  & h3 {
    font-weight: 100;
  }
}
#logo-TECNIMUX {

    & img {
      height: auto;
      width: 12px;
    }
  }
  
  .container-pass {
    position: relative;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
  }
.clv {
  opacity: 0;
}
.btn {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  width: 500px;
  height: 50px;
  overflow: hidden;
}

.btn::before {
  position: absolute;
  font-weight: 200;
  content: "🔒 COPIAR";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  background-color: transparent;
  padding: 5px;
  border-radius: 2px;
  color: #ffff;
  transition: 0.5s ease;
}

.btn::after {
  position: absolute;
  content: "TECNIMUX";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  background-color: transparent;
  padding: 5px;
  color: #634092;
  font-weight: 200;
  transition: 0.5s ease;
  opacity: 0;
}
.btn:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}
.btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

#apps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.container-apps {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5rem;
}
.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 275px;
  height: 250px;
  background-color: rgba(4, 10, 0, 0.7);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  transition:  0.2s ease;

    & h3 {
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow:  0 0 1px #000;
      color: #fff;
      text-align: center;
      margin: .5rem;
    }

    & p {
      position: absolute;
      bottom: 5px;
      left: 0;
      padding: 5px;
      border-radius: 1px;
      background-color: rgb(0, 132, 255);
      color: #000;
      font-size: .7rem;

    }

    & img {
      display: flex;
      justify-content: center;
      height: auto;
      width: 100px;
      margin: 5px;
      padding: 10px;
      background-color: #91919133;
      box-shadow: inset 0 0 1rem #ffffff70;
      border-radius: 2rem;
      transition: 0.3s ease;
      }

      &:hover{
        transform: scale(1.01);
        opacity: 0.5;
      }

      &:active img {
        transform: scale(1.1);
        opacity: 0.5;
      }
}

.link-boxp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;


  /* & img:hover {
    transform: scale(1.1);
  }*/
} 
.compatibility {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: .5rem;
  box-shadow: 0 -3px 1px rgba(255, 255, 255, 0.03);

  & svg {
    margin: 5px;
  }
}
footer {
  position: fixed;
  color: #fff;
  backdrop-filter: blur(10px);
  text-align: center;
  bottom: 0;
  width: 100%;
}
